nav {
    margin-top: 50px;
}

.carousel {
    margin-top: 10px;
}

.brand {
    height: 50px;
}

.flag {
    height: 20px;
    width: 32px;
    margin: 5px;
}

nav a.text-right {
    display:inline-block;
    width: 100%;
    font-size: 1.7rem;
    padding-top: 15px;
    font-weight: bold;
    color: darkgrey;
}

.image {
    width: 100%;
    height: 45vh !important;
    background-image: url(../src/images/city1.jpg);
    background-size: cover;
    background-position: center;
}

.img3 {
    background-image: url(images/city1.jpg);
    background-size: cover;
    background-position: center;
}

.img2 {
    background-image: url(images/city2.jpg);
    background-size: cover;
    background-position: center;
}

.img1 {
    background-image: url(images/city3.jpg);
    background-size: cover;
    background-position: center;
}

.flag-cont {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

h4 {
    margin-top: 30px;
}

footer div{
    background: #222255;
    color: white;
    padding-top: 12px;
}

footer h5{
    color: orange;
}